In [1]:
#Import packages 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import statistics
import math
import random
from scipy import stats
from statsmodels.graphics.mosaicplot import mosaic

In [14]:
#Import Dataset

df = pd.read_csv("Case Study_ Study Habits.csv", sep=",")

In [15]:
#Data Cleaning
df.rename(columns = {'What is your name? (first name, last initial)':'Name', 'What is your year?':'Year',
                    'How was the weather today?':'Weather', 'What room did you study in?':'Room',
                    'How focused were you while studying today?':'Focus', 'How long did you do school work today?':'Work',
                    'How different was your work space compared to school':'Workspace Difference',
                    'Would you say your work space at home is better or worse than your work space at school?':'Workspace Preference',
                    'What is your motivation for school work today?':'Motivation','Type of studying you did':'Type',
                    'How many hours did you spend studying today':'Time','How many hours of sleep did you get last night':'Sleep',
                    'How many hours of screen time did you have today?':'Screentime',
                    'How many hours of physical activity did you do today?':'Physical Activity',}, inplace = True)

df['Name'].replace({'Option 1':'Melanie T'}, inplace=True)
df['Name'].replace({'Aayush Patel':'Aayush P'}, inplace=True)
df.head()

,Timestamp,Name,Year,Weather,Room,Focus,Work,Workspace Difference,Workspace Preference,Motivation,Type,Time,Sleep,Screentime,Physical Activity,Are there any extra comments or concerns you have about online courses?
0,2020/04/08 1:18:07 PM AST,Melanie T,NaN,Rainy,dining room,3,More than when I'm at school,very different,Better,lower than average motivation,Homework,4,4,8,2,NaN
1,2020/04/08 5:51:39 PM AST,Bryan A,Junior,Partly Cloudy,bedroom,3,The same amount that I would do at school,very different,Better,3,Practice Questions;Watching Live or Prerecorde...,3,9,>= 10,<= 1,NaN
2,2020/04/09 11:23:47 AM AST,"Kameron, J",Junior,Overcast,bedroom,3,less than when I'm at school,somewhat different,Better,4,Homework,2,7,>= 10,<= 1,NaN
3,2020/04/09 12:14:53 PM AST,John D,freshman,Rainy,office,3,less than when I'm at school,very different,Better,1,Homework,2,9,10,2,NaN
4,2020/04/09 12:37:58 PM AST,Jacqueline Broderick,sophomore,Rainy,bedroom,4,The same amount that I would do at school,somewhat different,Better,3,Read Slides;Group Work;Homework;Watching Live ...,3,9,<= 4,2,NaN

In [9]:
df.Name.value_counts()

Robert L                9
Josiah A                5
Bryan A                 4
Brody H.                3
Aayush P                2
Devin C                 2
Brian R                 2
Adrien                  2
Kameron, J              2
Dylan D                 2
John D                  1
Jacqueline Broderick    1
Adrien A                1
Devin Cannistraro       1
Melanie T               1
Robert L.               1
MT                      1
Ben A                   1
Kyle C                  1
Dflo                    1
Name: Name, dtype: int64

In [11]:
#20 People took the survey, but only half took it more than once
df.Name.nunique()

20